


<div class="footer-questions-locations">

    <div class="footer-questions-locations__questions">

        <div class="footer-questions-locations__title">Questions?</div>

        <div class="footer-questions-locations__contact-list">

            <div class="footer-questions-locations__contact-list-email">Email us</div>

            <div class="footer-questions-locations__contact-list-phone">555-867-5309</div>

        </div>

    </div>

    <div class="footer-questions-locations__locations">

        <div class="footer-questions-locations__title">Find a location:</div>

        <div class="footer-questions-locations__locations-list">

            <a class="footer-questions-locations__item" href="#">Costa Rica</a>

            <a class="footer-questions-locations__item" href="#">Australia</a>

            <a class="footer-questions-locations__item" href="#">United States</a>

            <a class="footer-questions-locations__item" href="#">Turkey</a>

            <a class="footer-questions-locations__item" href="#">Indonesia</a>

            <a class="footer-questions-locations__item" href="#">Morocco</a>

        </div>

    </div>

</div>