<div class="main-menu">

  <ul class="main-menu__list">
    <li class="main-menu__item">
      <a class="main-menu__link" href="/">our program</a>
    </li>
    <li class="main-menu__item">
      <a class="main-menu__link" href="/">career services</a>
    </li>
    <li class="main-menu__item">
      <a class="main-menu__link" href="/">events & tours</a>
    </li>
    <li class="main-menu__item">
      <a class="main-menu__link" href="/">tuition</a>
    </li>
    <li class="main-menu__item">
      <a class="main-menu__link" href="/">schedule</a>
    </li>
    <li class="main-menu__item">
      <a class="main-menu__link" href="/">faq</a>
    </li>
  </ul>

  <a class="main-menu__button" href="/">apply now</a>

</div>
