<div class="testimonial">

  <div class="testimonial__transparent">
    <div class="testimonial__items">
      <img class="testimonial-image" src="images/lauren-scott.jpg">

      <p class="testimonial__paragraph">
        "I will say this about Dev Bootcamp in general: out of all the experiences I have had in my life, I have never
        had anything change my life as much as this."
      </p>

      <div class="testimonial-author">
        - Lauren Scott, Foxes
      </div>
    </div>

    <div class="testimonial__items">
      <img class="testimonial-image" src="images/mohit-ramchandani.jpg">

      <div class="testimonial__paragraph">
        "Graduating Dev Bootcamp leaves you with more than just skills; you come out with a new mentality and attitude
        that prepares you to face any problem in the world."
      </div>

      <div class="testimonial-author">
        - Mohit Ramchandani, Fox Squirrels
      </div>
    </div>
  </div>
</div>
