<div class="feature">

    <div class="feature__transparent">

        <div class="feature__title">Code yourself a new future</div>

        <div class="feature__title-description">Become a web developer with the tech industry's first immersive coding school.</div>

        <a class="feature__button" href="/">Start an application</a>

    </div>

</div>